$redProcess: #9e1f1f;
$greyProcess: #d6d6d6;
$greyProcessNumber: #919191;
$greyTitle: #a3a3a3;

$numberSize: 30px;
$lineSpace: 10px;
$numberToLine: #{$numberSize}/ 2 + #{$lineSpace};

@media (min-width: 811px) {
  .Checkout::before {
    display: none;
  }
}

%linearBackground {
  background: linear-gradient(to left, $greyProcess 50%, $redProcess 50%) right;
  background-size: 200%;
  transition: 1s ease-out;
}

.ProcessBar {
  display: flex;
  width: 100%;
  background-color: var(--breadcrumbs-background);
  padding: 30px 0 50px;
}

.NumberWrapper {
  flex: 1;
  position: relative;
  font-size: 15px;
  font-weight: 800;
  text-align: center;

  &:before {
    @extend %linearBackground;
    width: calc(100% - (#{$numberSize} + #{$lineSpace}* 2));
    background-color: $redProcess;
    display: block;
    position: absolute;
    top: 50%;
    right: calc(50% + #{$numberToLine});
    height: 4px;
    content: '';
    transform: translateY(-50%);
    border-radius: 4px;
  }

  &:not(:first-child) {
    &:after {
      @extend %linearBackground;
      width: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: calc(50% + #{$numberToLine});
      height: 4px;
      content: '';
      transform: translateY(-50%);
      border-radius: 4px;
    }
  }

  &.fillAfter:after {
    background-position: left;
  }

  &.fillBefore {
    &:before {
      background-position: left;
    }
  }
}

.Number {
  z-index: 1;
  background: linear-gradient(to left, $greyProcess 50%, $redProcess 50%) right;
  background-size: 200%;
  transition: 1s ease-out;
  border-radius: 50%;
  display: inline-block;
  height: $numberSize;
  width: $numberSize;
  text-align: center;
  line-height: 30px;
  color: $greyProcessNumber;

  .NumberWrapper.fillBefore & {
    color: var(--secondary-success-color);
    background-position: left;
  }
}

.Step {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 5px);
  color: $greyTitle;

  .NumberWrapper.fillBefore & {
    color: inherit;
  }
}
